<footer>
    <div class="container-fluid footer">
      <div class="row">
        <div class="col-12">
          <p class="text-center small">Authors: Jameson Cohen & Nicholas Simonian, Completed in 2021</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center small">This content is not to be redistributed without the direct consent of the website authors.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center small">The data on this website was provided by NYC OpenData and can be viewed <a href="https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/43nn-pn8j/data">here</a>.</p>
        </div>
      </div>
    </div>
  </footer>

    <script src="js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>
